<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre Updating</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <script src="/javascripts/sidebar.js"></script>
    <h2>Genre Updating</h2>
    <form id="genreForm">
        <label for="titleInput">Title:</label><br>
        <input type="text" id="titleInput" name="titleInput" required><br><br>
        <button type="submit" id="updateGenreBtn">Update genre</button>
    </form>
    <script src="/javascripts/genre_update.js"></script>
</body>
</html>
