<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <script src="/javascripts/sidebar.js"></script>
    <h1>Express Local Library</h1>
    <p>Welcome to <em>LocalLibrary</em>, a very basic Express website developed as a tutorial example on the Mozilla Developer Network.</p>
    <h2>Dynamic content</h2>
    <p>The library has the following record counts:</p>
    <ul id="index"></ul>
    <script src="/javascripts/index.js"></script>
</body>
</html>
